<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="key" value="49a1e089f832d815c0e2e84b7ba53ea56bee31f8" />
    <add key="projects" value="projects" />
    <add key="xml" value="projects.xml" />
    <add key="json" value="projects.json" />
    <add key="url" value="http://icerow.com/" />

  </appSettings>
</configuration>